
.principal{
  height: 500px;
  background-color: #001f36;
  margin-top: 38px;
}
.header{
    text-align: center;
    padding-bottom: 100px;
    

}
/*Header*/
.container {
    position: relative;
    width: 50%;

  }
  .image {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 361px;
    margin-right: 305px;
    border-radius: 25px;
   
    
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    border-radius: 24px;
    margin-left: 361px;
    
  }
  /*Esto es para la animacion HOVER es cuando la persona pasa el mouse por encima de un objeto*/
  .container:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
/*navBAR*/
  *{
    box-sizing: border-box;
  }
  .one{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;

  }
  ul li{
    display: inline;
    text-align: center;
  }
  a{
    display: inline-block;
    width: 23%;
    padding: auto;
    margin: 32px 0;
    text-decoration: none;
    color:rgb(183, 183, 183) ;
    font-size: 20px;
    
    
   
  }
  hr{
    text-align: center;
    height: 70px;
    width: 22%;
    margin: -77px 0;
    background: linear-gradient(to right, #674d69 0%, #001f36 100%);
    border: none; 
    border-radius: 50px;
    transition: .6s ease-in-out;
  }
  .two:hover ~ hr{
    margin-left: 24%;
  }
  .three:hover ~ hr{
    margin-left: 47%;
  }
  .four:hover ~ hr{
    margin-left: 72%;
  }
  .menu{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50% );
    width: 50%;
    
  }
/*Imagen 1 planeta 1*/
.container_2{

  margin-top: 4px;
  display: inline-block;

}
.perro{
  margin-right: 1234px;
}
.image_2{
  height: 113px;
  width: 190px;
  margin-top: 64px;
  margin-left: 123px;
  box-shadow: black;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(180, 180, 180, 0.15);
  
}
/*Imagen 2 planeta 2*/
.container_3{

  margin-left: 32px;
  margin-right: 45px;
  padding-right: 134px;
  display: inline-block;
  margin-top: 134px;
}
.image_3{
  height: 110px;
  width: 200px;
  margin-top: 64px;
  margin-left: 54px;
  box-shadow: black;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 rgba(180, 180, 180, 0.15);
}
/*Boton tipo navbar*/
*{

 }
